{% load static %}
<!-- Navigation Bar -->
<nav class="navbar">
    <div class="max-width">
        <div class="logo">
            <a href="{% url 'core:home' %}#hem">
                <img src="{% static 'core/images/logo.png' %}" id="logo" alt="Aktiv Generation Logo">
            </a>
        </div>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="menu">
            <li><a href="{% url 'core:home' %}#hem" class="menu-btn">Hem</a></li>
            <li><a href="{% url 'core:home' %}#om-oss" class="menu-btn">Om oss</a></li>
            <li><a href="{% url 'core:home' %}#vad-vi-gor" class="menu-btn">Vad vi gör</a></li>
            <li><a href="{% url 'core:home' %}#press" class="menu-btn">Press</a></li>
            <li><a href="{% url 'core:home' %}#bildgalleri" class="menu-btn">Bildgalleri</a></li>
            <li><a href="{% url 'core:activities' %}" class="menu-btn">Aktiviteter</a></li>
            <li><a href="{% url 'core:home' %}#kontakt" class="menu-btn">Kontakt</a></li>
            <li><a href="{% url 'mail:mail_us' %}" class="menu-btn">Mejla Oss</a></li>
            <li class="language-selector">
                <a href="#" class="menu-btn">
                    <i class="fas fa-globe"></i> Språk
                    <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="language-dropdown">
                    <li><a href="#">Svenska</a></li>
                    <li><a href="#">Türkçe</a></li>
                    <li><a href="#">English</a></li>
                    <li><a href="#">العربية</a></li>
                </ul>
            </li>
            <li><a href="https://forms.gle/sfEatWLa9RC6eEE67" id="outbound-link" class="menu-btn" target="_blank" rel="noopener noreferrer">Bli medlem</a></li>
            <li>
                <a href="#" id="night-mode-toggle" class="menu-btn">
                    <i class="fas fa-moon"></i>
                </a>
            </li>
        </ul>

    </div>
</nav> 