{% extends "admin/change_form.html" %}
{% load i18n %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    {% if original and original.email %}
        <a class="button" 
           style="margin-left: 13px; background: #007bff; color: white; padding: 6px 9px; font-size: 14px; text-transform: uppercase; text-decoration: none; display: inline-block; cursor: pointer;" 
           href="{% url 'mail:mail_reply' original.id %}">
            REPLY
        </a>
    {% endif %}
{% endblock %} 